/*------------------------------------------------*/
/*           BASIC SETUP                         */
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; /*if no lato or arialany from sans serif*/ 
    font-weight: 300; /*from picked google font-default*/
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

    .clearfix {zoom: 1} /*tu je da  uradi clear float u meals section-stavi u ul*/
    .clearfix:after {
        content:'.';
        clear:both;
        display:block;
        height:0;
        visibility: hidden;
    }




/*------------------------------------------------*/
/*           REUSABLE COMPONENTS                  */
/*------------------------------------------------*/

.row {
    max-width: 1140px; /*only absolute with px I will use, all other relative/resp with percentage*/
    margin: 0 auto 0 auto; /*all rows centered t, r, b, l*/
}

section {
    padding: 80px 0; /*for white space between 1 page and second*/
}

.box {
    padding: 1%; /*razmak do između texta i box bordera*/
}


/*---------Headings-------*/

h1, h2, h3 {
    font-weight: 300;
    
}

h1 {
    margin: 0, 4px; /*because of normalize.css needs to remove white space */
    color: #fff;
    font-size: 240%; /*for not to be too bold*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 1px;
}


h3 {
    font-size: 100%;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h2:after { /*želim žutu liniju ispod h2*/
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " "; /*uvijek kad imam after:koji content? bez texta pa prazno*/
    margin: 30px auto; /*želim da linija bude u centru-zato lr auto*/
}

/*---------Paragraphs--------------*/
.long-copy {
    line-height: 145%;
    margin-left: 15%; 
    width: 70%;
    /*da bude centrirano: 15+70+15*/
}

.box p { /*želim da smanjim font na 90% i da povećam line height*/
    font-size: 110%;
    line-height: 145%;
}

/*------------Icons-----------------*/
ion-icon { /*icons behave like a FONT*/
    font-size:300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    
}




/*buttons can have ststes: visited, active, link and hover
-link: normal state
-viisted: how it looks after clicked
-hover-changes when over
-active:when clicked
*/

/*------------Buttons--------------*/

.btn:link,
.btn:visited { /*button link and visited will look the same-below*/
    display: inline-block; /*want to make block from inlin element so can have padding*/
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none; /*bez underline*/
    border-radius: 200px; /*want to btn box be round*/
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*want a small transition from main color (link/vidsited) to (hover, active)*/
}


.btn-full:link,
.btn-full:visited { /*flatuicolors.com*/
    background-color: #e67e22;
    border: 1px solid #e67e22; /*also make border here so both btn box same size*/
    color: #fff; /*color of font*/
    margin-right: 15px;/*want to separate 2 btns-not to be glued together*/
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22; /*make 1px orange border*/
    color: #e67e22;

}

.btn:hover,
.btn.active { /*want:dark orange when clicked 0to255.com*/
    background-color: #cf6d17;
}

/*problem when clicked full btn-color is lighter and ghost btn color is darker so font cant be seen*/
.btn-full:hover,
.btn-full:active { 
    border: 1px solid #cf6d17; /*same as back color when clicked*/
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;; /*same as back color when clicked*/
    color: #fff;/*white color of font when clicked*/
}

/*------------------------------------------------*/
/*           HEADER                              */
/*------------------------------------------------*/


header { /*put a bacground image*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/hero.jpg);
      /*since text on bacground is not clear-linear gradientis used*/
    background-attachment: fixed;/*da se pozadina ne pomjera kada scrollujem*/
    background-size: cover; /*image is too z0omed out-make it normal*/
    background-position: center; /*centered position when we adjust page*/
    height: 100vh; /*100% viewport for image*/
}
    


.hero-text-box { /*want to have heading and buttons centered*/
    position: absolute; /*it doesnt adjust vert and horiz*/
    width: 1140px; /*absolute width*/
    top: 50%; /*50% from top*/
    left: 50%; /*50% from left, but its more into right so..*/
    transform: translate(-50%, -50%); /*-50% from whole width so its in the center*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav { /*odnosi s ena ul*/
    float: right;
    list-style: none; /*without boolet points*/
    margin-top: 50px;
}

.main-nav li {
    display: inline-block; /*ne block već jedan uz drugi*/
    margin-left: 40px;
}

.main-nav li a:link, /*nav on normal state*/
.main-nav li a:visited {
    padding: 8px 0; /*BEZ ZAREZAspace between line and text tb/lr*/
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /*base font is 20px and I wnat 18px so 18/20= 0,9 or 90% no pixels*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s /*tranzicija bordera*/s
}

.main-nav li a:hover, /*kada kliknem želim da se pojavi orange border bottom*/
.main-nav li a:active {
    border-bottom: 2px solid #e67e22; /*it first needs to be present above and transparent*/
}

/*------------------------------------------------*/
/*           FEATURES                             */
/*------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}




/*------------------------------------------------*/
/*           MEALS SECTION                              */
/*------------------------------------------------*/

.section-meals {
    padding: 0; /*da ne bude velik razmak gore sa prethodnom sekcijom*/
}

.meals-showcase {
    list-style: none; /*no bulletpoints*/
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left; /*da budu jedan uz drugi a ne ispod je rje block*/
    width: 25% /*jer je puni width 100%, pa 4 slike dodje 25%*/
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;/*jer želim da opacity bude 0.7 ili 70%* od crne boje da posvjetli*/

}

.meal-photo img {
    width: 100%; /*same as container above*/
    height: auto;
    transform: scale(1.15); /*slika će se povećati za 15%-želim uvećati i zatamniti da bi kasnije smanjio i posvjetlio kod hover*/ 
                            /*problem: sada slike veće od containera 100% pa overflow:hidden*/
    opacity: 0.7; /*posvjetliti pozadinu (crnu)*/
    transition: transform 0.5s, opacity 0.5s;
}                              
.meal-photo img:hover {
    transform: scale(1.03); /*back to normal 1, ali kada zoom out pojavi se mala bijela linija pa zato 1.03*/
    opacity: 1; /*back to 1 or 100%*/
}

/*------------------------------------------------*/
/*           HOW IT WORKS SECTION                             */
/*------------------------------------------------*/

.section-steps {
    background-color: #f4f4f4; /*suptilna bijelo-siva pozadina boja da bi razlikovao sekcije*/
}

.step-box {
    margin-top: 30px;
}

.step-box:first-child {
    padding-right: 3%;
    text-align: right;
}

.step-box:last-child {
    padding-left: 3%; /*u % zbog responsive design-a*/
}

.app-screen {
    width: 40%;
    float: right;
    margin-right: 10%;
}

.work-step {
    margin-bottom: 54px;
    margin-top: 60px;
}

.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;/*tako da brojevi idu uz border*/
    width: 55px;
    height: 55px;
    border-radius: 50%; /*da bude okruglo*/
    text-align: center; /*tako da brojevi idu u centar*/
    padding: 5px;/*rastojanje broja od bordera;*/
    float: left; /*da text ide uz brojeve*/
    margin-right: 25px;
    font-size: 150%; /*povećati brojeve*/
}

.app-btn img {
    height:50px;
    width: auto;
    margin-right: 10px;
    margin-top: 30px;
}

/*------------------------------------------------*/
/*           TESTIMONIALS                           */
/*------------------------------------------------*/

.section-testimonials {
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;/*da se pozadina ne pomjera kada scrollujem*/
}

blockquote {
    padding: 2%;
    line-height: 145%;
    line-weight: 50%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201D"; /*da bi stavio " idi na css tricks glyphs i kopiraj kod*/
    font-size: 500%;
    position: absolute;/*želim da quot mark bude kao blok, i pozic gore i lijevo; kad stavljam abolute parent mora biti relative*/
    top:-5px;
    left:-5px;
}

cite {
    font-size: 90%;
    margin-top: 25%;
}


cite img {
    height: 45%;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 4px;
    vertical-align: middle; /*da imena budu u sredini*/
}

/*------------------------------------------------*/
/*           SIGN-UP SECTION                             */
/*------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4; /*suptilna bijelo-siva pozadina boja da bi razlikovao sekcije*/
}

.plan-box {
    /*make it white bob to be different from grey background*/
    background-color: #fff;
    border-radius: 5px; /*da malo zaoblim po rubovima*/
    width: 90%;/*širina u odnosu na parent (kolona) 100%*/
    margin-left: 5%;/*od tih 10%, 5% margin lijevo*/
    box-shadow: 0 2px 2px #e3e3e3; /*x osa/yosa/blur/color---ČESTOS E KORISTI U CSS*/
}

.plan-box div { /*jer imam r div-a unutar plan-box*/
    padding: 15px; /*svaki od div prema unutra 15px*/
    border-bottom: 1px solid #f4f4f4e0;/*odvojiti dno svakog diva suptilnom sivim borderom*/
}

.plan-box div:first-of-type { /* prvi div--želim da div s cijjenom ima suptilnu  sivu pozadinu*/
    background-color: rgba(240, 235, 235, 0.473);
}

.plan-box div:nth-of-type(2) {
    text-align:center; /* drugi div--centrirati sign up button*/
    border: none;
}

.plan-price {
    font-size: 250%;/*when using big fonts best to use FONT WEIGHT to make it smaller*/
    margin-bottom: 10px;
    color: #e67e22;

}

.plan-price span {
    font-size: 30%; /*želim da /month bude manji, 30% od parent 300% gore iznad*/
}

.price-meal {
    font-size: 80%;/*make it bit smaller*/
}

.plan-box ul {
    list-style: none;
    
    
}

.plan-box ul li {
    padding: 5px 0; /*5px gore/dole 0px lijevo i desno*/ 
}


